* {
  margin: 0px;
  font-family: "Jost", sans-serif;

  font-size: 20px;
  --color-dark-blue: #0d3b66;
  --color-light-yellow: #faf0ca;
  --color-dark-yellow: #f4d35e;
  --color-light-orange: #ee964b;
  --color-dark-orange: #f95738;
  --font: "Jost", sans-serif;
  --box-shadow-sice: 0.5em;
  background-color: var(--color-dark-yellow);

  box-sizing: border-box;
}

.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

}
.head {
  top: 0px;

  font-family: var(--font);
  background-color: #0d3b66;
  color: var(--color-dark-yellow);
  height: 15vh;
  font-size: 3rem;
  display: flex;

 

  justify-content: center;
  align-items: center;

  border: solid;
  border-width: 0.2rem;
  border-color: var(--color-dark-yellow);
  border-radius: 1rem;
}
.menue {
  font-family: var(--font);
  background-color: var(--color-dark-yellow);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  align-items: center; /* Nebenachse,  nach unten  */
}
.menuebutton {
  font-size: 1.5rem;
  background-color: var(--color-dark-blue);
  color: var(--color-dark-yellow);
  /* width:  minmax(400px, auto); */
  min-width: 11rem; /* % des Vater Elements*/
  max-width: 22rem;
  /* height:  minmax(200px, auto); */
  min-height: 3rem;
  margin: 5px; /* Abstand nach außen */
  /*display: flex;
        justify-content: center;
        align-items: center; */
  border-radius: 0.7rem;
  padding: 1rem;
  opacity: 0.9; /* transparent */
}

.menuebutton:hover {
  opacity: 1; /* transparent */
  cursor: pointer;
}

.menuebutton:active {
  transform: translateY(4px);
}

.mainview {
  font-family: var(--font);
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: minmax(50px, auto);
  column-gap: 2px;
  row-gap: 2px;
  height: 500px;
}
.box {
  padding: 10px; /* Text wandert nach innen */
}
.sidemenuebutton {
  font-size: 1rem;
  font-family: var(--font);
  background-color: var(--color-dark-blue);
  color: var(--color-dark-yellow);
  width: minmax(200px, auto);
  height: 1rem;
  margin: 5px; /* abstand nach außen */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  padding: 1rem;

  opacity: 0.9; /* transparent */
}
.sidemenuebutton:hover {
  opacity: 1; /* transparent */
  cursor: pointer; /* Curser wird zum Finer */
}

.sidemenuebutton:active {
  transform: translateY(2px);
}
.sidebarleft {
  background-color: var(--color-dark-yellow);

  font-family: var(--font);
}
.center {
  background-color: var(--color-light-yellow);
  grid-column: span 2;

  border-width: 0.2rem;

  border-radius: 1rem;
}

.centertitle {
  font-size: 1.5rem;
  font-family: var(--font);
  background-color: var(--color-dark-blue);
  color: var(--color-dark-yellow);
  width: minmax(200px, auto);
  height: 1rem;
  margin: 5px; /* abstand nach außen */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  padding: 1rem;
}

.sidebarright {
  background-color: var(--color-dark-yellow);
}

.sidemenue {
  background-color: var(--color-dark-blue);
}

.container {
  display: grid;
  grid-template-columns: 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw 8.3vw; /* 100px 100px 150px; */
  grid-auto-rows: minmax(10px, auto);
  column-gap: 0vw;
  row-gap: 0vh;
}

.box {
  padding: 10px;
}

.with1 {
  grid-column-start: span 1;
}
.with2 {
  grid-column-start: span 2;
}
.with3 {
  grid-column-start: span 3;
}
.with6 {
  grid-column-start: span 6;
}
.with9 {
  grid-column-start: span 9;
}
.with12 {
  grid-column-start: span 12;
}
.withauto {
  grid-column-start: auto;
}



.playercardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--color-light-yellow);
}

.playercard {
  border: solid;
  border-width: 0.2rem;
  border-color: var(--color-dark-blue);
  border-radius: 1rem;
  padding: 1rem;
  width: 165px;

  height: 250px;
  background-color: var(--color-light-yellow);

  margin: 0.6em;
  box-shadow: 0.5em 0.5em #cac8c8;
}
.playercard:hover {
  border-color: var(--color-dark-blue);
  box-shadow: 0.5em 0.5em #888888;
}
.playercard {
  background-color: var(--color-light-yellow);
}
.image {
  background-color: var(--color-light-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  background-color: var(--color-light-yellow);
  padding: 0.5rem;
}
.image > img {
  height: 150px;
  background-color: var(--color-light-yellow);
  border-radius: 1rem;
  opacity: 1; /* transparent */
}

.name {
  font-family: var(--font);
  background-color: var(--color-light-yellow);
}
.position {
  font-family: var(--font);
  background-color: var(--color-light-yellow);
}

.birthday {
  font-family: var(--font);
  background-color: var(--color-light-yellow);
}


footer {
  background-color: var(--color-dark-blue);
  border: solid;
  border-width: 0.2rem;
  border-color: var(--color-dark-blue);

  grid-column-start: span 12;

  color: var(--color-dark-yellow);

  font-family: var(--font);

  display: flex;
  justify-content: center;

  border-radius: 0.7rem;
  padding: 1rem;
}

.row{
  display: grid;
  grid-row-start: auto;
}
